# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log
logs/*.log

# Env
.env
.env.local
.env.development
.env.production
.env.test

# Build
dist/
build/

# React
*.cache
.cache/
.vite/
.next/
out/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
